.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html,
body {
    background: radial-gradient(
        circle at center,
        #11304d 0%,
        #0c2742 30%,
        #081e33 55%,
        #051728 75%,
        #030f1a 100%
    );
}
:root {
    --action-color: #137fec;
    --action-color2: #ffffff;

    --secondary-bgcolor: #081e33;
    --primary-bgcolor: #051728;

    --text-main: #f9f9fa;
    --text-dim: #94a3b8;
    --text-muted: #70a1a8;

    --border-light: #334155;
    --border-dark: #001350;
    --shadow-dark: rgba(0, 0, 0, 0.4);

    --error-red: #e11d48;
    --error-bg: #2d161a;
    --error-border: #881337;

    --success-green: #22c55e;
    --success-bg: #132a1c;
    --success-border: #166534;

    --info-blue: #3b82f6;
    --info-bg: #0f1c2f;
    --info-border: #1d4ed8;

    --danger-red: var(--error-red);

    --small-size: 13px;
    --label-size: 14px;
    --default-size: 16px;
    --semi-normal-size:20px;
    --normal-size: 20px;
    --semi-large-size: 28px;
    --large-size: 35px;
    --semi-extra-large: 42px;
    --extra-large-size: 50px;


    --cb1: cubic-bezier(0.2, 0.8, 0.2, 1);
}
