.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body{
    background-color: var(--secondary-bgcolor);
}
:root {
    --action-color: #137fec;
    --action-color2: #ffffff;

    --secondary-bgcolor: #101922;
    --primary-bgcolor: #111418;

    --text-main: #f9f9fa;
    --text-dim: #94a3b8;
    --text-muted: #70a1a8;

    --border-light: #334155;
    --border-dark: #001350;
    --shadow-dark: rgba(0, 0, 0, 0.4);

    --error-red: #e11d48;
    --error-bg: #2d161a;
    --error-border: #881337;

    --danger-red: var(--error-red);

    --label-size: 14px;
    --default-size: 16px;
    --small-size: 13px;
    --normal-size: 20px;
    --large-size: 35px;
    --extra-large-size: 50px;
}
.quizPage{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
}