* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 100px;
}
#learning-material-main-box {
    background-color: var(--secondary-bgcolor);
    width: calc(100vw - 320px);
    margin-left: 320px;
}
@media only screen and (max-width: 1024px) {
    #learning-material-main-box {
        width: calc(100vw - 40px);
        margin-left: 40px;
    }
}
html,
body {
    scrollbar-width: none;
}
#learning-material-main-box h4 {
    color: var(--text-main);
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: var(--normal-size);
}
#learning-material-main-box img {
    width: min(1100px, 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
}
#learning-material-main-box section p,
#learning-material-main-box li {
    font-size: var(--normal-size);
    color: var(--text-dim);
    line-height: 29px;
}
#learning-material-main-box h3 {
    color: white;
    font-size: var(--semi-large-size);
    margin-bottom: 7px;
    margin-top: 10px;
}
#learning-material-main-box .labbox h3 {
    margin-top: 0 !important;
}
#learning-material-main-box p + p {
    margin-top: 15px;
}
#learning-material-main-box li + li {
    margin-top: 5px;
}
#learning-material-main-box section h1 {
    font-size: var(--large-size);
    margin-bottom: 15px;
    margin-top: 20px;
    color: var(--text-main);
}
#learning-material-main-box .mainbar {
    padding: 30px;
    padding-left: 60px;
    padding-right: 80px;
}
#learning-material-main-box section ul {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
}
#learning-material-main-box section ol {
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
}
#learning-material-main-box .labbox {
    background-color: var(--secondary-bgcolor);
    border-left: 15px solid var(--action-color) !important;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--border-light);
}
#learning-material-main-box .labbox h1 {
    margin-top: 5px !important;
    color: var(--text-main);
}
#learning-material-main-box .code {
    background-color: #ebf0f2;
    color: black;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#learning-material-main-box .code p {
    color: black;
    margin-top: 0 !important;
}
#learning-material-main-box ul li::marker {
    color: white;
}
#learning-material-main-box ol li::marker {
    color: var(--text-main);
}
#learning-material-main-box .labbox ul li {
    text-decoration: underline;
    text-underline-offset: 5px;
}
#learning-material-main-box .labbox ul li:hover {
    color: white;
}
#learning-material-main-box .labbox ul li::marker {
    color: var(--text-main);
}
#learning-material-main-box u {
    text-underline-offset: 5px;
}
#learning-material-main-box u:hover {
    color: white;
}
#learning-material-main-box b {
    color: white;
    opacity: 0.76;
}
#learning-material-main-box span {
    background-color: var(--primary-bgcolor);
    margin: 2px;
    border-radius: 7px;
    padding: 5px 7px;
    color: white;
    font-weight: 600;
}
#lab span {
    background-color: unset;
}
#learning-material-main-box iframe {
    width: min(1100px, 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
    height: 680px;
}
#learning-material-main-box .query {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-dim);
    font-size: var(--normal-size);
    border: 2px solid var(--border-light);
    padding: 10px;
    border-radius: 12px;
    line-height: 40px;
}
