* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 5.208333333333334vw;
}
#learning-material-main-box {
    background-color: var(--secondary-bgcolor);
    width: calc(100vw - 16.666666666666668vw);
    margin-left: 16.666666666666668vw;
}
@media only screen and (max-width: 1024px) {
    #learning-material-main-box {
        width: calc(100vw - 40px);
        margin-left: 40px;
    }
}
html,
body {
    scrollbar-width: none;
}
#learning-material-main-box h4 {
    color: var(--text-main);
    margin-top: 0.4166666666666667vw;
    margin-bottom: 0.4166666666666667vw;
    font-size: var(--normal-size);
}
#learning-material-main-box img {
    width: min(57.29166666666667vw, 100%);
    padding-top: 1.5625vw;
    padding-bottom: 1.5625vw;
    display: block;
    margin: 0 auto;
}
#learning-material-main-box section p,
#learning-material-main-box li {
    font-size: var(--normal-size);
    color: var(--text-dim);
    line-height: 1.5104166666666667vw;
}
#learning-material-main-box h3 {
    color: white;
    font-size: var(--semi-large-size);
    margin-bottom: 0.36458333333333337vw;
    margin-top: 0.5208333333333334vw;
}
#learning-material-main-box .labbox h3 {
    margin-top: 0 !important;
}
#learning-material-main-box p + p {
    margin-top: 0.78125vw;
}
#learning-material-main-box li + li {
    margin-top: 0.026041666666666668vw;
}
#learning-material-main-box section h1 {
    font-size: var(--large-size);
    margin-bottom: 0.78125vw;
    margin-top: 1.0416666666666667vw;
    color: var(--text-main);
}
#learning-material-main-box .mainbar {
    padding: 1.5625vw;
    padding-left: 3.125vw;
    padding-right: 4.166666666666667vw;
}
#learning-material-main-box section ul {
    margin-top: 1.0416666666666667vw;
    margin-left: 5.208333333333334vw;
    margin-bottom: 0.5208333333333334vw;
}
#learning-material-main-box section ol {
    margin-top: 1.0416666666666667vw;
    margin-left: 5.208333333333334vw;
    margin-bottom: 0.5208333333333334vw;
}
#learning-material-main-box .labbox {
    background-color: var(--secondary-bgcolor);
    border-left: 0.78125vw solid var(--action-color) !important;
    border-radius: 0.625vw;
    padding: 1.0416666666666667vw;
    margin-top: 1.0416666666666667vw;
    margin-bottom: 1.0416666666666667vw;
    border: 0.052083333333333336vw solid var(--border-light);
}
#learning-material-main-box .labbox h1 {
    margin-top: 0.026041666666666668vw !important;
    color: var(--text-main);
}
#learning-material-main-box .code {
    background-color: #ebf0f2;
    color: black;
    padding: 1.0416666666666667vw;
    border-radius: 0.625vw;
    margin-top: 1.0416666666666667vw;
    margin-bottom: 1.0416666666666667vw;
}
#learning-material-main-box .code p {
    color: black;
    margin-top: 0 !important;
}
#learning-material-main-box ul li::marker {
    color: white;
}
#learning-material-main-box ol li::marker {
    color: var(--text-main);
}
#learning-material-main-box .labbox ul li {
    text-decoration: underline;
    text-underline-offset: 0.026041666666666668vw;
}
#learning-material-main-box .labbox ul li:hover {
    color: white;
}
#learning-material-main-box .labbox ul li::marker {
    color: var(--text-main);
}
#learning-material-main-box u {
    text-underline-offset: 0.026041666666666668vw;
}
#learning-material-main-box u:hover {
    color: white;
}
#learning-material-main-box b {
    color: white;
    opacity: 0.76;
}
#learning-material-main-box span {
    background-color: var(--primary-bgcolor);
    margin: 0.10416666666666667vw;
    border-radius: 0.36458333333333337vw;
    padding: 0.026041666666666668vw 0.36458333333333337vw;
    color: white;
    font-weight: 600;
}
#lab span {
    background-color: unset;
}
#learning-material-main-box iframe {
    width: min(57.29166666666667vw, 100%);
    padding-top: 1.5625vw;
    padding-bottom: 1.5625vw;
    display: block;
    margin: 0 auto;
    height: 35.41666666666667vw;
}
#learning-material-main-box .query {
    margin-top: 0.5208333333333334vw;
    margin-bottom: 0.5208333333333334vw;
    color: var(--text-dim);
    font-size: var(--normal-size);
    border: 0.10416666666666667vw solid var(--border-light);
    padding: 0.5208333333333334vw;
    border-radius: 0.625vw;
    line-height: 2.0833333333333335vw;
}
