*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#xss{
    background-color: var( --primary-bgcolor);
    width:100vw;
}
#xss img {
    width: 1100px;
    height: auto;
}
#xss section p, #xss li{
    font-size: var(--normal-size);
    color: var(--text-dim);
    line-height: 29px;
}
#xss section h1{
    font-size: var( --large-size);
    margin-bottom: 15px;
    margin-top: 20px;
    color: var(--text-main);
}
#xss .mainbar{
    width:1400px;
    padding-left:80px;
    padding-right:80px;
}
#xss section ul{
    margin-top: 20px;
    margin-left: 100px;
}
#xss .labbox{
    background-color: #F7F9FD;
    border-left: 10px solid #001350;
    border-radius: 12px;
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#xss .labbox h1{
    color: black;
}
#xss .code{
    background-color: #EBF0F2;
    color:black;
    padding:20px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#xss .code p{
    color:black;
}
#xss ul li::marker {
    color: white;
}