#circle {
  position: relative;
  width: 150px;
  height: 150px;
}
#circle .progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--normal-size);
  font-weight: bold;
  color : var(--text-dim)
}