#bar{
    width: 300px;
    height: 20px;
    background-color: var(--text-dim);
    border-radius: 999px;
}
#bar .progress{
    height: 100%;
    background-color: var(--action-color);
    border-radius: 999px;
    transition: width 0.1s ease;
}  