#bar{
    width: 300px;
    height: 10px;
    background-color: var(--text-dim);
    border-radius: 999px;
}
.answerType{
    display: flex;
    justify-content: space-between;
    color: var(--text-dim) !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
#bar .progress{
    height: 100%;
    background-color: var(--action-color);
    border-radius: 999px;
    transition: width 0.04s ease;
    transition-timing-function: var(--cb1);
}  