.Quiz{
    background-color: #101922;
    color:white;
    padding: 50px;
}
h1{
    font-weight: bold;
    font-size: 40px;
}
body{
    font-family: "Inter", system-ui, -apple-system, sans-serif;
}
.describe{
    font-size: 20px;
    opacity: 0.7;
}
.question{
    font-size: 20px;
}
button{
    background-color: var( --action-color);
    color:var(--action-color2);
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding:10px 15px;
    border-radius: 12px;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}