#result .outer {
    display: flex;
    gap: 1.0416666666666667vw;
    margin-top: 1.0416666666666667vw;
    margin-bottom: 1.0416666666666667vw;
    flex-wrap: wrap;
    justify-content: center;
}
#result .inner {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 1.0416666666666667vw;
    margin-bottom: 1.0416666666666667vw;
}
#result span {
    color: var(--action-color);
    background-color: #102d4a;
    font-size: var(--extra-large-size);
    border-radius: 50%;
    padding: 1.0416666666666667vw;
}
#result .detail {
    color: var(--text-main) !important;
    background-color: transparent !important;
    font-size: var(--large-size) !important;
    padding: 0 !important;
    margin-right: 0.10416666666666667vw;
}
#result .btns {
    display: flex;
    gap: 1.0416666666666667vw;
    margin-top: 1.0416666666666667vw;
}
#result .btns span {
    color: var(--text-main);
    font-size: var(--semi-large-size);
    background-color: transparent !important;
    padding: 0 !important;
}
#result h1 {
    color: var(--text-main);
    margin-top: 0.5208333333333334vw;
    margin-bottom: 1.0416666666666667vw;
    font-size: var(--extra-large-size);
    text-align: center;
}
#result i {
    color: var(--action-color);
    font-size: var(--large-size);
    margin-bottom: 0.4166666666666667vw;
}
#result p {
    color: var(--text-dim);
    font-size: var(--normal-size);
}
#result {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.0416666666666667vw;
}
#result .percentage {
    border: 0.10416666666666667vw solid var(--border-light);
    border-radius: 0.625vw;
    padding: 2.604166666666667vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bgcolor);
}
#result .perform {
    border: 0.10416666666666667vw solid var(--border-light);
    border-radius: 0.625vw;
    padding: 1.5625vw;
    background-color: var(--primary-bgcolor);
}
#result .point {
    border: 0.10416666666666667vw solid var(--border-light);
    border-radius: 0.625vw;
    padding: 1.0416666666666667vw;
    background-color: var(--primary-bgcolor);
}
#result .time {
    border: 0.10416666666666667vw solid var(--border-light);
    border-radius: 0.625vw;
    padding: 1.0416666666666667vw;
    background-color: var(--primary-bgcolor);
}
