#Quiz {
    background-color: var(--seconary-bgcolor);
    color: var(--text-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#Quiz p {
    margin-top: 10px;
    margin-bottom: 10px;
}
#Quiz h1 {
    font-weight: bold;
    font-size: var(--large-size);
}
body {
    font-family:
        "Inter",
        system-ui,
        -apple-system,
        sans-serif;
}
#Quiz .describe {
    font-size: var(--normal-size);
    opacity: 0.7;
}
#Quiz .btns {
    width: min(100%, 1024px);
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
