.Quiz{
    background-color: #101922;
    color:white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width:100vw;
}
h1{
    font-weight: bold;
    font-size: var(--large-size);
}
body{
    font-family: "Inter", system-ui, -apple-system, sans-serif;
}
.describe{
    font-size: var(--normal-size);
    opacity: 0.7;
}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}