#result .outer{
    display: flex;
    gap:20px;
}
#result .inner{
    display: flex;
    gap:20px;
    margin-bottom: 20px;
}
#result span{
    color: var(--action-color);
    background-color: #102D4A;
    font-size: var(--extra-large-size);
    border-radius: 50%;
    padding: 20px;
}
#result .detail{
    color: var(--text-main) !important;
    background-color: transparent !important;
    font-size: var(--large-size) !important;
    padding: 0 !important;
}
#result h1{
    color: var(--text-main);
}
#result i{
    color: var(--action-color);
}
#result p{
    color: var(--text-dim);
}
#result{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#result .percentage{
    border: 2px solid var(--border-light);
    border-radius: 12px;
    padding: 50px;
    background-color: var(--primary-bgcolor);
}
#result .perform{
    border: 2px solid var(--border-light);
    border-radius: 12px;
    padding: 50px;
    background-color: var(--primary-bgcolor);
}
#result .point{
    border: 2px solid var(--border-light);
    border-radius: 12px;
    padding: 20px;
    background-color: var(--primary-bgcolor);
}
#result .time{
    border: 2px solid var(--border-light);
    border-radius: 12px;
    padding: 20px;
    background-color: var(--primary-bgcolor);
}