#Quiz{
    background-color: var(--seconary-bgcolor);
    color:var(--text-main);
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    width:100vw;
}
#Quiz p{
    margin-top: 10px;
    margin-bottom: 10px;
}
#Quiz h1{
    font-weight: bold;
    font-size: var(--large-size);
}
body{
    font-family: "Inter", system-ui, -apple-system, sans-serif;
}
#Quiz .describe{
    font-size: var(--normal-size);
    opacity: 0.7;
}
#Quiz .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}