* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#QuizMain {
    width: 100vw;
    padding: 30px;
}
#QuizMain .separate {
    display: grid;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 420px);
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}
#QuizMain p {
    color: var(--text-dim);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: var(--normal-size);
}
#QuizMain h1 {
    font-size: var(--extra-large-size);
    color: var(--text-main);
    text-align: center;
}
