.sidebar {
    width: 320px;
    height: 100vh;
    background-color: var(--primary-bgcolor);
    padding: 24px 16px;
    box-sizing: border-box;
    left: 0;
    position:fixed;
}
#clear-sidebar-position{
    min-width: 320px;
    min-height: 100vh;
    left: 0;
    position: relative;
    z-index: -1000;

}
@media only screen and (max-width: 1024px){
    .sidebar, #clear-sidebar-position{
        display: none;
    }
}
.sidebar .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sidebar .nav-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 10px;
    background: transparent;
    cursor: pointer;
    text-align: left;
    transition: all 0.2s ease;
    justify-content: flex-start;
}

.sidebar .nav-item .label {
    font-size: var(--default-size);
    font-weight: 500;
    color: var(--text-dim);
}

.sidebar .nav-item .icon {
    font-size: var(--normal-size);
    margin-right: 12px;
    color: var(--action-color);
}

.sidebar .nav-item.active {
    background-color: #1a73e8;
}

.sidebar .nav-item.active .label,
.sidebar .nav-item.active .icon {
    color:var(--action-color2);
}

.sidebar .nav-item:hover:not(.active) {
    background-color: #161b22;
}

.sidebar .nav-item:hover:not(.active) .label {
    color: #ffffff;
}
