*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#vulnerability-topic-main{
    border:1px solid var(--border-light);
    padding:30px;
    border-radius: 12px;
    width: 420px;
    transition: transform 0.3s ease;
    box-shadow: 0.3s ease;
    cursor: pointer;
}
#vulnerability-topic-main p{
    color: var(--text-dim) !important;
    text-align: left !important;
}
#vulnerability-topic-main h3{
    color: var(--text-main);
    margin-top: 10px;
    margin-bottom: 10px;
}
#vulnerability-topic-main span{
    color: var(--action-color);
    background-color: var(--primary-bgcolor);
    padding: 10px;
    font-size: var(--large-size);
    border-radius: 12px;
}
#vulnerability-topic-main .icon{
    padding: 1px;
}
#vulnerability-topic-main:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.5);
}