.box{
    background-color: #111418;
    border: 2px solid #1E293B;
    border-radius: 12px;
    height:100px;
    width:500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
}
.click{
    background-color: #111418;
    border: 2px solid #1E293B;
    border-radius: 50%;
    height:40px;
    width:40px;
}