.box{
    background-color: var(--primary-bgcolor);
    border:1px solid var( --border-light);
    border-radius: 12px;
    width:500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
}
.click{
    background-color: var(--primary-bgcolor);
    border: 1px solid var( --border-light);
    border-radius: 50%;
    height:40px;
    width:40px;
}