button {
  background-color: var(--action-color);
  color: var(--action-color2);
  padding: 16px;
  border-radius: 14px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: opacity 0.2s;
  border: none;
}