*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      overflow:hidden;
}
body{
    width:100vw;
    height:100vh;
    font-family: Inter, system-ui, sans-serif;
    background: #0e141b;
    color: #e5e7eb;
  
}
.app{
    display: flex;
}
.main{
    flex:1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width:1320px;
}
.primaryBtn{
    background: #3b82f6;
    border: none;
    padding: 10px 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card{
    background: #111827;
    border-radius: 12px;
    padding: 20px;
}
.card h3{
    margin-bottom: 12px;
    font-size: 1rem;
    color: #93c5fd;
}
.card.success h3{
    color: #4ade80;
}
textarea{
    width: 100%;
    height: 160px;
    background: #020617;
    border: 1px solid #1f2937;
    border-radius: 8px;
    color: #e5e7eb;
    padding: 12px;
    resize: none;
    font-family: monospace;
}
.quizBox{
    margin-top: 40px;
    background: linear-gradient(135deg, #111827, #0b1220);
    padding: 30px;
    border-radius: 16px;
}
.quizBox h2{
    margin-bottom: 8px;
}
.quizBox p{
    color: #9ca3af;
    margin: 15px 0 35px;
}
.quizBtn{
    background: #3b82f6;
    border: none;
    padding: 14px 24px;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}
section{
    width:1320px;
}