#leaderboard .leaderboard-container {
    width: 62.5vw;
    margin: 0 auto;
    margin-top: 2.0833333333333335vw;
    margin-bottom: 2.0833333333333335vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#leaderboard .leaderboard-table td {
    vertical-align: middle;
}
#leaderboard .leaderboard-container h1 {
    color: var(--text-main);
    margin-bottom: 0.4166666666666667vw;
    font-size: var(--large-size);
}
#leaderboard .leaderboard-container p {
    color: var(--text-dim);
    font-size: var(--normal-size);
}
#leaderboard .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.78125vw;
}
#leaderboard .table {
    width: 62.5vw;
    border: 0.10416666666666667vw solid var(--border-light);
    border-radius: 0.625vw;
    margin: 0 auto;
}
#leaderboard .leaderboard-table th {
    text-align: center;
    color: var(--text-main);
    padding: 0.5208333333333334vw 0.78125vw;
    font-weight: 700;
    font-size: var(--semi-large-size);
}
#leaderboard .leaderboard-table td {
    padding: 0.625vw 0.78125vw;
    text-align: center;
    border-top: 0.052083333333333336vw solid var(--border-light);
    vertical-align: middle;
    color: var(--text-dim);
    font-size: var(--normal-size);
}
#leaderboard .leaderboard-table tbody tr:nth-child(even) {
    background-color: #141f3a;
}
@media screen and (max-width: 1024px) {
    #leaderboard .table {
        width: 90%;
    }
    #leaderboard .leaderboard-table th,
    #leaderboard .leaderboard-table td {
        padding: 8px 10px;
        font-size: var(--label-size);
    }
}
@media screen and (max-width: 768px) {
    #leaderboard .table {
        width: 100%;
        border: 1px solid var(--border-light);
    }
    #leaderboard .leaderboard-table th,
    #leaderboard .leaderboard-table td {
        padding: 8px 10px;
        font-size: var(--small-size);
    }
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup {
    background: var(--primary-bgcolor);
    padding: 1.5625vw;
    border-radius: 0.4166666666666667vw;
    max-width: 52.083333333333336vw;
    text-align: center;
    color: var(--text-main);
    border: 0.10416666666666667vw solid var(--border-light);
}
.popup input {
    width: 100%;
    padding: 0.5208333333333334vw 0.78125vw;
    margin: 0.78125vw 0;
    font-size: var(--semi-normal-size);
    border-radius: 0.625vw;
}
.popup-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}