#lab .practice {
    margin-top: 1.0416666666666667vw;
    margin-bottom: 1.0416666666666667vw;
    border: 0.052083333333333336vw solid var(--border-light);
    border-radius: 1.8229166666666667vw;
    display: flex;
}
#lab .leftColor {
    padding: 0.78125vw 1.5625vw;
    color: white;
    font-weight: bold;
    font-size: var(--default-size);
    background-color: var(--action-color);
    border-top-left-radius: 1.8229166666666667vw;
    border-bottom-left-radius: 1.8229166666666667vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5208333333333334vw;
}
#lab a:hover {
    color: var(--text-main) !important;
}
#lab .rightColor {
    padding-left: 1.5625vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.0416666666666667vw;
    padding-right: 1.0416666666666667vw;
    min-width: 0;
}
#lab .rightColor a {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    color: var(--text-dim);
    font-size: var(--normal-size);
}
#lab .rightColor span {
    color: var(--text-dim);
}
