/* #all-labs .lab-list {
    margin-left: 16.666666666666668vw !important;

    width: calc(100vw - 16.666666666666668vw);
}

@media only screen and (max-width: 1024px) {
    #all-labs .lab-list {
        margin-left: 40px !important;
        width: calc(100vw - 40px);
    }
} */
