.auth-page-wrapper {
    min-height: 100vh;
    background-color: var(--primary-bgcolor);
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    box-sizing: border-box;
}

.auth-main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    gap: 60px;
    padding: 40px 0;
}

.auth-branding-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.auth-illustration-container {
    width: 100%;
    max-width: 440px;
    aspect-ratio: 1 / 1;
    background-color: var(--action-color);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-mockup-card {
    width: 60%;
    background: var(--secondary-bgcolor);
    padding: 24px;
    border-radius: 20px;
    display: flex;
    gap: 16px;
    box-shadow: 0 15px 35px var(--shadow-dark);
}

.auth-mockup-check {
    color: var(--action-color);
    display: flex;
    align-items: center;
    gap: 20px;
}
.auth-mockup-lines {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.auth-m-line {
    height: 8px;
    background: var(--action-color2);
    border-radius: 4px;
}
.auth-m-line-sm {
    width: 30%;
}
.auth-m-line-lg {
    width: 90%;
}

.auth-branding-text h2 {
    font-size: clamp(28px, 4vw, 36px);
    font-weight: 800;
    color: var(--text-main);
    margin-bottom: 12px;
}

.auth-branding-text p {
    color: var(--text-dim);
    line-height: 1.6;
    font-size: var(--default-size);
    max-width: 420px;
}

.auth-form-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.auth-footer-bar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-light);
    color: var(--text-dim);
    font-size: var(--small-size);
    gap: 20px;
}

.auth-legal-links {
    display: flex;
    gap: 24px;
}

.auth-legal-links a {
    color: var(--text-dim);
    text-decoration: none;
    white-space: nowrap;
}

@media (max-width: 1024px) {
    .auth-page-wrapper {
        padding: 0 40px;
    }
    .auth-main-content {
        gap: 30px;
    }
}

@media (max-width: 868px) {
    .auth-branding-section {
        /* align-items: center; */

        display: none;
    }
    .auth-form-section {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .auth-branding-section {
        display: none;
    }
}
