#dashboard {
    padding: 20px;
    max-width: 1111px;
    margin: auto;
}
#dashboard .topBox {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #0e1f33 0%, #162447 50%, #1b1f4a 100%);
    border: 2px solid var(--border-light);
    border-radius: 12px;
    padding: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
#dashboard .bar {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}
#dashboard .user {
    flex: 1;
}
#dashboard .goal {
    background-color: var(--primary-bgcolor);
    border-radius: 12px;
    padding: 20px;
    border: 2px solid var(--border-light);
}
#dashboard .goal p {
    color: var(--action-color);
    margin-top: 0 !important;
}
#dashboard hr {
    background-color: var(--border-light);
    width: 100%;
    height: 3px;
    border-radius: 999px;
    margin-bottom: 20px;
}
#dashboard .complete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
#dashboard .labName {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#dashboard .complete h1 {
    font-size: var(--large-size);
}
#dashboard .complete p {
    font-size: var(--default-size);
    margin-top: 0;
    margin-bottom: 0;
}
#dashboard h1 {
    color: var(--text-main);
    font-size: var(--extra-large-size);
}
#dashboard p {
    color: var(--text-dim);
    font-size: var(--normal-size);
    margin-top: 20px;
    margin-bottom: 20px;
}
#dashboard .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
#dashboard .lab {
    background-color: var(--primary-bgcolor);
    border: 2px solid var(--border-light);
    border-radius: 12px;
    padding: 50px;
}
#dashboard .icon span {
    color: var(--action-color);
    padding: 15px;
    border-radius: 12px;
    background-color: var(--secondary-bgcolor);
    font-size: var(--extra-large-size);
}
#dashboard .doLab {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
#dashboard .count {
    border: 2px solid var(--border-light);
    border-radius: 12px;
    margin-top: 20px;
    padding: 20px;
    flex: 1;
}
#dashboard .notfull {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#dashboard .attend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#dashboard .attend p {
    color: var(--action-color);
}
#dashboard .notfull p {
    color: var(--action-color);
}
#dashboard .count h1 {
    font-size: var(--large-size);
}
@media only screen and (max-width: 920px) {
    #dashboard .topBox {
        justify-content: center;
    }
    #dashboard .user {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 750px) {
    #dashboard .complete {
        justify-content: center;
    }
    #dashboard .labCount {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 700px) {
    #dashboard .count {
        flex: 0 0 100%;
    }
}
@media only screen and (max-width: 440px) {
    #dashboard {
        padding: 8px;
    }
}
@media only screen and (max-width: 400px) {
    #dashboard .lab {
        padding: 10px;
    }
}
@media only screen and (max-width: 380px) {
    #dashboard .topBox {
        padding: 10px;
    }
    #dashboard .goal {
        padding: 10px;
    }
    #dashboard .user h1 {
        text-align: center;
    }
    #dashboard .user p {
        text-align: center;
    }
}
