*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#path{
    background-color: var( --secondary-bgcolor);
    width:100vw;
}
html, body{
    scrollbar-width: none;
}
#path img {
    width: min(1100px, 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;     
}
#path section p, #path li{
    font-size: var(--normal-size);
    color: var(--text-dim);
    line-height: 29px;
}
#path section h1{
    font-size: var( --large-size);
    margin-bottom: 15px;
    margin-top: 20px;
    color: var(--text-main);
}
#path main{
    padding:30px;
    padding-left:60px;
    padding-right:80px;
}
#path section ul{
    margin-top: 20px;
    margin-left: 100px;
}
#path .labbox{
    background-color: var(--secondary-bgcolor);
    border-left: 15px solid var(--action-color) !important;
    border-radius: 12px;
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border:1px solid var(--border-light);
}
#path .code{
    background-color: #EBF0F2;
    color:black;
    padding:20px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#path .code p{
    color:black;
}
#path ul li::marker {
    color: white;
}
#path .labbox ul li::marker{
    color: var(--text-main);
}
#path .practice{
    margin-top: 20px;
    margin-bottom: 20px;
    border:1px solid var(--border-light);
    border-radius: 35px;
    display: flex;
}
#path .leftColor{
    padding:15px 30px;
    color:white;
    font-weight: bold;
    font-size: var(--default-size);
    background-color: var(--action-color);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
#path .rightColor{
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:20px;
    padding-right: 20px;
    min-width: 0;
}
#path .rightColor p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#path .rightColor span{
    color:var(--text-dim);
}
#path .labbox h1{
    margin-top: 5px !important;
    color: var(--text-main);
}