*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    font-family: Inter, system-ui, sans-serif;
    background: #0e141b;
    color: #e5e7eb;
}
.app{
    display: flex;
}
.main{
    flex:1;
    padding: 30px;
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.primary-btn{
    background: #3b82f6;
    border: none;
    padding: 10px 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.code-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.code-card{
    background: #111827;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,.4);
}
.code-card h3{
    margin-bottom: 12px;
    font-size: 1rem;
    color: #93c5fd;
}
textarea{
    width: 100%;
    height: 118px;
    background: #020617;
    border: 1px solid #1f2937;
    border-radius: 8px;
    color: #e5e7eb;
    padding: 12px;
    resize: none;
    font-family: monospace;
    font-size : 18px;
    font-weight:bold;  
    padding-top: 40px;       
    text-align : center;
}
section{
    margin-top: 20px;
}
.quiz-box{
    margin-top: 40px;
    background: linear-gradient(135deg, #111827, #0b1220);
    padding: 30px;
    border-radius: 16px;
}
.quiz-box h2{
    margin-bottom: 8px;
}
.quiz-btn{
    background: #3b82f6;
    border: none;
    padding: 14px 24px;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    width:200px;
}
.submit-box{
    margin-top: 40px;
    padding: 30px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}