#payloads .code {
    background-color: #ebf0f2;
    color: black;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#payloads .code p {
    color: black;
}
