#payloads .code {
    background-color: #ebf0f2;
    color: black;
    padding: 1.0416666666666667vw;
    border-radius: 0.625vw;
    margin-top: 1.0416666666666667vw;
    margin-bottom: 1.0416666666666667vw;
}
#payloads .code p {
    color: black;
}
